// COLORS
$color-primary: #4267B1;



$color-primary-light: rgb(5, 110, 216);
$color-primary-dark: #9f9f9f;
$icon-color:rgba(128, 128, 128, 0.521);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 132rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 3rem;









